*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 46, 46);
    height: 100vh;
    width: 100vw;

}

.calculator {
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    padding: 5px;

}

.display {
    height: 25%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 121, 121);

}

.keys {
    height: 75%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap:4px;
    
}

button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(37, 37, 36);
    color: azure;
    font-size: 2em;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

